@model EventManagement.Models.EventModel

@{
    ViewBag.Title = "Details";
}

<h2>Event Details</h2>

<div>
    <h4>EventModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        @if (Model.Duration.ToString() != "")
        {
            <dt>
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Duration)
            </dd>
        }

        @if (!Model.Description.IsEmpty())
        {
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        }

        @if (!Model.OtherDetails.IsEmpty())
        {
            <dt>
                @Html.DisplayNameFor(model => model.OtherDetails)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OtherDetails)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.InviteByEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InviteByEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>



    </dl>
</div>

<div>
    <h5>Comment here</h5>
    @using (Html.BeginForm("CreateComment", "Event"))
    {
        <input type="hidden" value="@Model.EventID" name="EventID" />
        <input type="text" name="Comment" />
        <input type="submit" value="CreateComment" />
    }
    <br />

    <h4> Past Comments</h4>



    <p>
        @if(!Model.CommentAdded.IsEmpty()){
            List<string> sl = new List<string>();
            sl = Model.CommentAdded.Split(';').ToList();
            <ul>
                @foreach (var comment in sl)
                {
                    <li> @comment</li>
                }
            </ul>
        }
    </p>
    <br />
</div>

<p>
    @{
        bool isLoggedIn = true;
        if (string.IsNullOrWhiteSpace(User.Identity.Name))
        {
            isLoggedIn = false;
        }
}


    @if (isLoggedIn && Session["Email"].ToString() == "myadmin@bookevents.com")
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.EventID });
    }
    @Html.ActionLink("Back to List", "Index")
</p>
